@{
    ViewData["Title"] = "About";
}

<div class="container margin-top margin-bottom">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Quisque posuere turpis tincidunt tincidunt pellentesque. Integer ornare convallis sem vulputate hendrerit. Proin vulputate a risus auctor gravida. Proin hendrerit elementum mattis. Aliquam quis commodo enim. Nullam lobortis venenatis erat, non placerat augue feugiat non. Maecenas faucibus ante ut velit laoreet, eget convallis diam eleifend. Duis nec dictum odio. Suspendisse potenti. Maecenas at interdum ligula. Pellentesque vel lacus convallis, molestie lacus tempor, sagittis leo. Phasellus finibus lectus ut ipsum porta auctor. Vivamus quis semper tortor. Proin faucibus nisi vitae felis ornare finibus. Nulla eu dictum purus, a consectetur risus. Nullam eu metus ac sem egestas sollicitudin.</p>
    </div>